html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.ciir{
    width: 80vh;
    height: 80vh;   
    margin-top: 10vh;
    border-radius: 50%;
    border-left: 5px solid red;
    animation-name: load;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes load {
    to{
        rotate: 360deg;
        border-left:10px solid blue;
    }
}